@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

body {
  background-color: #CAC4C4;
}

#sidebar
{
background-color: #E0D6D6;
}

#main-panel
{
background-color: #E0D6D6;
width:3;
}