@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h3 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: 500;
  line-height: 1.1;
 # color: #344152;
 color:#35586C;
}

body {
 background-color: #2E2E2E;
}
navbarPage{
	position:fixed;
	left:0px;
	right:0px;
}
#sidebar
{
background-color: #353F3E;

color:white;
  
	 height:100%;
	left:0px;
	bottom:0px;
    top:0 px;
  
}

#mainpanel
{
background-color: white;
height = "400px";
}

tabPanel{
	background-color:#FFFFFF;
	color:#FFFFFF;
}
hr{
   color: #000000;
    background-color: #000000;
}
footer{
	 
    position:fixed;
    bottom:0;
    left:0;                                                 
    width:100%;
    height:8%;   /* Height of the footer */
    color: white;
    padding: 10px;
    background-color: black;
     z-index: 1000;"
}
